.main-header
  .main-header__left-box
    .main-header__left-box__current-group
      aaaa
      .main-header__left-box__member-list
        Member
        .main-header__left-box__member-list__member
          ううう
  = link_to "Edit", "#", class: "main-header__edit-btn"