.main-header
  %a{:href => "/groups/7309/edit"}
  .main-header__left-box
    .main-header__left-box__current-group
      aaaa
      .main-header__left-box__member-list
        Member
        .main-header__left-box__member-list__member
          ううう
  %input.main-header__edit-btn{type:"submit",value:"Edit"}
    