.main-header__left-box
  .main-header__left-box__current-group
    aaaa
    .main-header__left-box__member-list
      Member
      .main-header__left-box__member-list__member
        ううう
= link_to "Edit", edit_group_path(@group.id), class: "main-header__edit-btn"