.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name 
        ううう
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#",class: "" do
            = icon('far fa-edit',  class: "contents__btn--icon")
        %li.side-header__box__menu__edit-user
          = link_to "#", class: "" do
            = icon('fas fa-cog',  class: "contents__btn--icon")
  .groups
    .group
      %p.group__group-name アイウエオ
      %p.group__latest-message まだメッセージがありません

