html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
.wrapper {
  display: flex;
}  

.chat-main {
  background-color: #fff;
  width: calc(100vw - 300px);
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}